<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CSV</title>
<link rel="stylesheet" href="styles/style.css">
</head>
<body>

	<div th:insert="~{fragments/navigation::navigation}"></div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/uploadForm">
			<table>
				<tr>
					<th><input type="file" name="file" /></th>
					<th><input type="submit" name="upload" value="Upload" /></th>
					<th><input type="submit" name="clear" value="Clear" /></th>
				</tr>
			</table>
		</form>
	</div>

	<div>
		<form method="POST" action="/ansicht">
			<table>
				<tr>
					<th>Ansicht:</th>
					<th><input type="submit" name="other" value="Other" /></th>
					<th><input type="submit" name="columns" value="Columns" /></th>
				</tr>
			</table>
		</form>
	</div>

	<div th:if="${ansicht == 'other'}" th:insert="~{fragments/turntableother::turntableother}"></div>
	<div th:if="${ansicht == 'columns'}" th:insert="~{fragments/turntable::turntable}"></div>



</body>
</html>